<div class="container">
  <table id="results">
    <tr>
      <th>Player Initials</th>
      <th>Winner</th>
      <th>Winning Time</th>
    </tr>
    <% @match.each do |match| %>
    <% player = Player.find(match.player_id).initials %>
    <% winner = (match.winner == true) %>
    <tr>
      <td><%= player == "" ? "&nbsp;" : player %></td>
      <td><%= "X" if winner %></td>
      <td><%= match.winning_time if winner %></td>
    </tr>
    <% end %>
  </table>
  <p>
  You can always come back to this page by using the link: <a href="<%= request.base_url %>/results/<%= @match.first.game_id %>"><%= request.base_url %>/results/<%= @match.first.game_id %></a>
</p>

  <a href="/">Play Again!</a> | <a href="/leaderboard">Leaderboard</a>
</div>
